//===============================================================================
// ANIMATIONS
//===============================================================================

// Pulsate Size
// -animation: pulse-small 3s infinite;
@keyframes pulse-small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}