//===============================================================================
// FOOTER 
//===============================================================================
.site-footer {
  background: $paper;
  border-top: 1px solid darken($paper, 3);
  padding: 12px 22px;
  height: $footer-height;
  width: 100%;

  a{
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
  }

  ul {
    margin: 0;
  }
}

}