//===============================================================================
// HEADER
//===============================================================================
.site-header {
  background: $paper;
  width: 100%;
  height: $header-height-small;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2px;
  transition: height .15s;
  z-index: 99999;

  &::before{
    content: '';
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top .15s;
    background: fade-out(darken($pc-pink, 25), .70);
  }

  &.expanded{
    height: 200px;

    &::before{
      top: 200px;
    }
  }
}

.site-logo-container{
  display: inline-block;
  height: $header-height-small;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
}

.site-logo{
  padding: 9px 6px 8px;
  height: 100%;
}

.nav-btn{
  text-indent: -99999px;
  height: $header-height-small;
  width: $header-height-small;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: url('../img/menu-btn.svg') no-repeat 7px 7px;

  &:hover{
    background-color: $pc-pink;
  }

  &:focus{
    outline: none;
  }
}

.site-nav{    
  ul{
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    padding-top: 5px;
  }

  li{
    position: relative;
    transition: left .20s .075s;
    left: 100%;
    height: 37px;

    &:nth-child(2){
      transition: left .20s .125s;
    }

    &:nth-child(3){
      transition: left .20s .2s;
    }
  }

  a{
    color: white;
    text-decoration: none;
    display: block;
    width: 90px;
    padding: 0 6px 5px 0;
    text-align: right;
    font-size: 18px;
    border-bottom: 2px solid white;
    position: absolute;
    right: 6px;
  }
}

.site-header.expanded .site-nav{
  ul{
    top: 0;
  }

  li{
    left: 0;
  }
}

// for browsers that don't support media queries
.no-mq {

  .site-header {
    height: $header-height-large;
    padding: 0 18px;
  }

  .site-logo-container{
    height: $header-height-large;
  }

  .site-logo{
    padding: 14px 12px 10px;
  }

  .site-logo-flip{
    padding: 14px 12px 10px;
  }

  .nav-btn{
    display: none;
  }

  .site-nav{
    position: static;

    ul{
      display: block;
      position: static;
      width: auto;
      padding: 0;
    }

    li{
      float: left;
      left: 0;
    }

    a{
      margin: 0;
      width: auto;
      padding: 0;
      display: inline-block;
      height: $header-height-large;
      text-decoration: none;
      position: static;
      text-align: center;

      &:first-child{
        margin: 0;
      }

      &::after{
        content: attr(data-page);
        position: absolute;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
        top: 0;
        left: 0;
        height: $header-height-large;
        line-height: $header-height-large;
        text-align: center;
        background: $pc-pink;
        color: white;
        width: 100%;

        @include vendor( transform-origin, 50% 0% );
        @include vendor( transform, rotateX(0deg) );
        @include vendor( transition, -prefix- transform .2s, background .3s );
      }

      &:hover{
        &::after{
          background: darken($pc-pink, 25);

          @include vendor( transform, rotateX( -90deg ) );
        }
        span{
          @include vendor( transform, rotateX( 0deg ) );
          background: saturate(lighten($pc-pink, 7.5), 100);
        }
      }
    }

    span{
      color: white;
      font-size: 20px;
      line-height: $header-height-large - 1px;
      height: $header-height-large;
      max-height: $header-height-large;
      font-weight: 700;
      padding: 0 12px;
      display: inline-block;
      background: $pc-pink;

      @include vendor( transform-origin, 50% 100% );
      @include vendor( transform, rotateX( -90deg ) );
      @include vendor( transition, -prefix- transform .3s, background .3s );
    }

    li{
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    } 
  } // end .site-nav
}