//===============================================================================
// HELPER-CLASSES
//===============================================================================
// Add bullets to ul
.text-list{
  list-style: disc;
  padding-left: 1em;
}

// clearfix
.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}

// Floats
.left{
  float: left;
}
.right{
  float: right;
}

// No scroll on body
.no-scroll{
	overflow: hidden;
}