//===============================================================================
// HOMEPAGE
//===============================================================================
// .hero-wrap
.hero-wrap{
	height: 600px;
	overflow: hidden;

	&::before{
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(155, 92, 164, 0.5);
		background-color: rgba(107, 116, 130, 0.5);
		background-color: rgba(58, 82, 115, 0.5);
		z-index: 1;
	}
	&::after{
		content:"";
		z-index: 2;
		width: 100%;
		position: absolute;
		bottom: -40px;
		display: block;
		height: 100px;
		background: $paper;
		transform: rotate(-2deg) scale(1.2);
	}
	& .hero-img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		background-attachment: fixed;
		background-image: url(../img/london.jpg);
		margin: 0;
		height: 1500px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		display: block;
	}
	& h1{
		text-align: center;
		color: white;
		margin-top: 150px;
		font-weight: 300;
		color: rgba(255,255,255,0.8);
		z-index: 2;
	}
	& img{
		margin: 10px auto;
		display: table;
		width: 300px;
		height: auto;
		z-index: 2;
	}
}
// /.hero-wrap

// .pebble-logos-wrap
& .pebble-logos-wrap{
	position: relative;
	top: -110px;
	z-index: 2;
	@include margin-auto;
	display: table;

	a{
		display: inline-block;
		margin: 0 5px;
		transition: transform .2s ease-in-out;

		&:hover{
			transform: scale(1.05);
		}
	}
	& img{
		height: 120px;
		display: block;
	}
}
// /.pebble-logos-wrap

// .intro-wrap
.intro-wrap{
	overflow: hidden;
	text-align: center;
	padding: 0;
	margin-top: -30px;

	& .about-block{
		z-index: 2;
		width: 90%;
		left: 5%;
		position: relative;
		top: 0;

		& h1{
			font-size: 72px;
			font-weight: 900;
		}
		& h2{
			font-size: 32px;
		}
	}

	&  .team-block{
		width: 100%;
		z-index: 2;

		& .bubble{
			@include callout-font;
			color: $paper;
			display: inline-block;
			text-align: center;
			font-size: 18px;
			margin: 50px 10px;
			background-size: 100%;
			

			&.bubble-consultants{
				background: url(../img/bubble-consultants.png) no-repeat center;
				background-image: url(../img/bubble-consultants.svg), none;
				padding-top: 175px;
				width: 230px;
				height: 230px;
				-webkit-animation: pulse-small 3s infinite;
				-moz-animation: pulse-small 3s infinite;
				-animation: pulse-small 3s infinite;
			}
			&.bubble-designers{
				background: url(../img/bubble-designers.png) no-repeat center;
				background-image: url(../img/bubble-designers.svg), none;
				padding-top: 175px;
				width: 220px;
				height: 230px;
				-webkit-animation: pulse-small 5s infinite;
				-moz-animation: pulse-small 5s infinite;
				-animation: pulse-small 5s infinite;
			}
			&.bubble-engineers{
				background: url(../img/bubble-engineers.png) no-repeat center;
				background-image: url(../img/bubble-engineers.svg), none;
				padding-top: 170px;
				width: 220px;
				height: 230px;
				-webkit-animation: pulse-small 4s infinite;
				-moz-animation: pulse-small 4s infinite;
				-animation: pulse-small 4s infinite;
			}
			&.bubble-testers{
				background: url(../img/bubble-testers.png) no-repeat center;
				background-image: url(../img/bubble-testers.svg), none;
				padding-top: 170px;
				width: 220px;
				height: 220px;
				-webkit-animation: pulse-small 5s infinite;
				-moz-animation: pulse-small 5s infinite;
				-animation: pulse-small 5s infinite;
			}
		}
	}
}
// /.intro-wrap

// .compare-wrap
.compare-wrap{
	padding: 90px 0 120px;
	background-image: linear-gradient(91deg, $pc-pink 49.5%, $pc-blue 49.5%);
	overflow: hidden;

	&::before{
		content:"";
		width: 100%;
		position: absolute;
		top: -50px;
		display: block;
		height: 100px;
		background: white;
		transform: rotate(1.5deg) scale(1.2);
	}
	&::after{
		content:"";
		z-index: 2;
		width: 100%;
		position: absolute;
		bottom: -10px;
		display: block;
		height: 50px;
		background: $ink;
		transform: rotate(-0.7deg) scale(1.2);
	}

	& .features-block{
		margin-bottom: 0;
		background-size: auto 40px;
		padding-top: 120px;	

		& .btn-wrap{
			display: block;

			& .btn{
				margin: 40px auto 0;
			}
		}

		& .feature{
			width: 100%;
			display: block;
			padding: 20px 25px;
			margin: 5px 0;

			&::before, &::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: 0 0;
			}
			&::before{
				top: 0;
				left: 0;
			}
			&::after {
				background-position: 0 1px;
				bottom: 0;
				right: 0;
			}
			& h3{
				font-size: 22px;
				margin-bottom: 5px;
			}
			& p{
				font-size: 16px;
				line-height: 1.4;
				margin-bottom: 0;
			}
		}

		&.features-code{
			background: url(../img/logo-code-wh.png) center 45px no-repeat;
			background-image: url(../img/logo-code-wh.svg), none;
			background-size: auto 40px;
			padding-right: 15px;
			

			& .feature{
				& h3{
					color: $pc-pink;
				}
				&.feature-1{
					background: rgba(255,255,255,0.95);

					&::before {
					  background-image: url( '../img/side-code-1.svg' );
					}
					&::after {
					  background-image: url( '../img/side-code-2.svg' );
					}  
				}
				&.feature-2{
					background: rgba(255,255,255,1);

					&::before {
					  background-image: url( '../img/side-code-3.svg' );
					}
					&::after {
					  background-image: url( '../img/side-code-4.svg' );
					}  
				}
				&.feature-3{
					background: rgba(255,255,255,0.85);

					&::before {
					  background-image: url( '../img/side-code-5.svg' );
					}
					&::after {
					  background-image: url( '../img/side-code-6.svg' );
					}  
				}
			}
		}

		&.features-it{
			background: url(../img/logo-it-wh.png) center 45px no-repeat;
			background-image: url(../img/logo-it-wh.svg), none;	
			background-size: auto 40px;
			padding-left: 15px;

			& .feature{

				& h3{
					color: $pc-blue;
				}
				&.feature-1{
					background: rgba(255,255,255,1);

					&::before {
					  background-image: url( '../img/side-it-3.svg' );
					}
					&::after {
					  background-image: url( '../img/side-it-4.svg' );
					}  
				}
				&.feature-2{
					background: rgba(255,255,255,0.8);

					&::before {
					  background-image: url( '../img/side-it-1.svg' );
					}
					&::after {
					  background-image: url( '../img/side-it-2.svg' );
					}  
				}
				&.feature-3{
					background: rgba(255,255,255,0.9);

					&::before {
					  background-image: url( '../img/side-it-5.svg' );
					}
					&::after {
					  background-image: url( '../img/side-it-6.svg' );
					}  
				}
				&.feature-4{
					background: rgba(255,255,255,1);

					&::before {
					  background-image: url( '../img/side-it-3.svg' );
					}
					&::after {
					  background-image: url( '../img/side-it-4.svg' );
					}  
				}
			}
		}
	}
}
// /.compare-wrap

// .logos-wrap
.logos-wrap{
	background: $ink;
	color: white;
	overflow: hidden;
	padding: 10px 0 5px;
	z-index: 1;

	& li{
		padding-bottom: 20px;
		vertical-align: middle;

		& img{
			height: 90px;
			width: auto;
			margin: 0 auto;
			padding: 10px 0;
			display: table;

			&.logo-az{
				padding-bottom: 20px;
			}
			&.logo-sony{
				height: 80px;
			}
			&.logo-pearson{
				height: 50px;
			}
			&.logo-lloyds{
				height: 85px;
			}
			&.logo-bede{
				height: 85px;
			}
			&.logo-forpeople{
				height: 70px;
			}
		}
	}
}
// /.logos-wrap

// .maps-wrap
.map-wrap{
	overflow: hidden;
	background: lighten($ink, 45%);
	padding: 0 50px 50px;

	&::before{
		content:"";
		width: 100%;
		position: absolute;
		top: -65px;
		display: block;
		height: 80px;
		background: $ink;
		transform: rotate(1.1deg) scale(1.2);
		z-index: 2;
	}

	& .call-out{
		text-align: center;
		padding: 70px 0 0;
		font-size: 42px;
	}

	& #map-carousel-nav{
		z-index: 1;
		top: 50%;
		position: absolute;
		left: 0;
		right: 0;

		& .next, & .previous{
			width: 50px;
			height: 50px;
			display: block;
			position: absolute;
			
			background-size: 100%;
			transition: transform .2s ease-in-out;
			@include hide-text;

			&:hover{
				transform: scale(1.2);
			}
		}
		& .next{
			background: url(../img/arrow-right.png) center no-repeat;
			background-image: url(../img/arrow-right.svg), none;
			right: 20px;
		}
		& .previous{
			background: url(../img/arrow-left.png) center no-repeat;
			background-image: url(../img/arrow-left.svg), none;
			left: 20px;
		}
	}

	& .map-carousel{
		padding: 50px 0;

		& .crsl-item{
			display: block;
		}
		& .map-item{
			background: $paper;
			display: block;

			& .map{
				display: block;
				background: black;
				width: 100%;
				height: 200px;
			}
			& .call-out{
				font-size: 24px;
				text-align: left;
				margin: 0;
				padding: 0 20px 5px;
			}
			& .map-details{
				padding: 0 20px 20px;
			}
		}
	}
	
}
// /.maps-wrap
