//===============================================================================
// MEDIA-QUERIES
//===============================================================================

//===============================================================================
// iPAD STYLES
//===============================================================================
@media (max-width: 1000px) {

  // BASE STYLES
  // ===========================================================
  .visible-tablet{
    display: block!important;
  }
  .hidden-tablet{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }

}

//===============================================================================
// iPHONE STYLES
//===============================================================================
@media screen and (max-width: 650px) {

  // GRID
  // ===========================================================
  html {
    font-size: 0.875em;
    -webkit-text-size-adjust:100%;
  }
  .grid {
    margin-left: 0;
    max-width: none;
  }
  .unit {
    width: auto;
    margin-left: 0;
    display: block;
  }
  .hidden-phone{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }

  // BASE STYLES
  // ===========================================================
  h1, .alpha {
    font-size: 36px; 
  }
  h2, .beta {
    font-size: 22px;
  }
  h3, .gamma {
    font-size: 18px;
  }
  h4, .delta {
    font-size: 16px;
  }
  h5, .epsilon {
    font-size: 14px;
  }
  h6, .zeta {
    font-size: 12px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  } 

}