//===============================================================================
// MEDIA-QUERIES
//===============================================================================

//===============================================================================
// iPAD STYLES
//===============================================================================
@media screen and (max-width: 1000px) {

  // BASICS
  .visible-tablet{
    display: block!important;
  }
  .hidden-tablet{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }

  

}

//===============================================================================
// iPHONE STYLES
//===============================================================================
@media screen and (max-width: 650px) {

  // GRID
  html {
    font-size: 0.875em;
    -webkit-text-size-adjust:100%;
  }
  .grid {
    margin-left: 0;
    max-width: none;
  }
  .unit {
    width: auto;
    margin-left: 0;
    display: block;
  }
  .hidden-phone{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }

  // BASICS
  body{
    font-size: 0.875em;
  }
  h1, .h1 {
    font-size: 36px; 
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 18px;
  }
  h4, .h4 {
    font-size: 16px;
  }
  h5, .h5 {
    margin-top: 20px;
    font-size: 14px;
  }
  h6, .h6 {
    margin-top: 20px;
    font-size: 12px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
  } 

}