//===============================================================================
// TYPOGRAPHY
//===============================================================================
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button{
  margin: 0 0 18px 0;
}

// FONT SIZES
//===============================================================================
.tera    { font-size: $tera; }
.giga    { font-size: $giga; }
.mega    { font-size: $mega; }
.alpha   { font-size: $alpha; }
.beta    { font-size: $beta; }
.gamma   { font-size: $gamma; }
.delta   { font-size: $delta; }
.epsilon { font-size: $epsilon; }
.zeta    { font-size: $zeta; }

// HEADER STYLES
//===============================================================================
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: $alpha;
}

h2 {
  font-size: $beta;
}

h3 {
  font-size: $gamma;
}

h4 {
  font-size: $delta;
}

h5 {
  font-size: $epsilon;
}

h6 {
  font-size: $zeta;
}

.container-title{
  display: block;
  border-bottom: 1px solid lighten($ink, 60);
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: $epsilon;
  color: lighten($ink, 40);
  margin-bottom: 0;
  font-weight: 700;
}


// LIST STYLES
//===============================================================================
ol,{
  padding-left: 1.4em;

  ol, ol ol{
    margin-bottom: 0;
  }
}

ul{
  padding: 0;
  list-style: none;

  ul, ul ul{
    margin-bottom: 0;
  }
}
dt{
  font-weight: bold;
}

dd{
  margin-left: 1.4em;
}

// IMAGE STYLES
//===============================================================================
img{
  max-width: 100%;
}

// LINK STYLES
//===============================================================================
a{
  color: $primary;

  &:hover, &.hover{
    cursor: pointer;
    color: lighten($primary, 15);
  }

  &:active, &.active{
    color: darken($primary, 15);
  }

  // &:visited,
  &.visited{
    color: darken($primary, 20);
  }
}

// BLOCKQUOTE STYLES
//===============================================================================
blockquote{
  margin: 0;
  padding: 0 20px;
  border-left: 2px solid $ink;
  font-style: italic;

  p:before{
    margin: 0 .2em 0 -.6em;
    content: "“";
  }

  p:after{
    content: "”";
  }
}

