// Colors
$white: #fff;
$black: #1f1f1f;
$yellow: #fcc400;
$red: #fa5a28;
$blue: #25b8dc;
$green: #82c828;
$purple: #8750b9;

// Text
$sans-serif: "Proxima Nova Soft", "Avenir", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$dark-text-shadow: 1px 2px 0 rgba(0,0,0,0.2);