// Colors
$paper: white;
$ink: #6B7482;
$link: hsl(220,100,40);
$header: $ink;

$pc-pink:   hsl(342, 82, 62);
$pc-purple: #9B5CA4;
$pc-blue:   #3899E6;
$pc-aqua:   #42B9BD;
$pc-green:  #A4CE4E;
$pc-orange: #FAAD40;
$pc-grey: #3A5273;

$code-head: hsl(215, 33, 34);
$code-green: #37BEC0;


// Text
$body-font: "museo-sans", "museo sans", sans-serif;
$callout-font: "brandon-grotesque", "brandon grotesque", sans-serif;

// Layout
$header-height-small: 40px;
$header-height-large: 60px;
$footer-height: 100px;