//===============================================================================
// GLOBAL-VARIABLES
//===============================================================================

// COLOURS
//===============================================================================
$paper: #ffffff;
$ink: #484E59;

$primary: #426fbd;

// CUSTOM STYLES
//===============================================================================
$corner-radius: 2px;
$box-shadow: 0 0 2px rgba(0,0,0,0.2);

// TYPE
//===============================================================================
$base-font-size: 14px;
$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$tera: 72px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 21px;
$delta: 18px;
$epsilon: 14px;
$zeta: 12px;
