html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: $body-font;
  text-rendering: optimizeSpeed;
}

body {
  background-color: white;
  font-weight: $body-weight;
  font-size: $body-size;
  line-height: 1.4;
  color: $ink;
}
