/* line 5, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/peter/Repos/gulp-template/src/sass/shared/_normalize.scss */
td, th {
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-400/roboto-400.eot');
  src: url('../fonts/roboto-400/roboto-400.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-400/roboto-400.woff') format('woff'), url('../fonts/roboto-400/roboto-400.ttf') format('truetype'), url('../fonts/roboto-400/roboto-400.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal; }

/* line 6, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
.fadein {
  -webkit-animation: fadein 1s;
  animation: fadein 1s; }

@-webkit-keyframes fadein {
  /* line 8, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  0% {
    opacity: 0; }

  /* line 9, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  100% {
    opacity: 1; } }

@keyframes fadein {
  /* line 8, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  0% {
    opacity: 0; }

  /* line 9, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  100% {
    opacity: 1; } }

/* line 14, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
.fadeout {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s; }

@-webkit-keyframes fadeout {
  /* line 16, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  0% {
    opacity: 1; }

  /* line 17, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  100% {
    opacity: 0; } }

@keyframes fadeout {
  /* line 16, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  0% {
    opacity: 1; }

  /* line 17, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  100% {
    opacity: 0; } }

/* line 22, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
.pulse {
  -webkit-animation: pulse 0.6s infinite alternate;
  animation: pulse 0.6s infinite alternate; }

@-webkit-keyframes pulse {
  /* line 24, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }

  /* line 25, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  to {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); } }

@keyframes pulse {
  /* line 24, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }

  /* line 25, /Users/peter/Repos/gulp-template/src/sass/shared/_animations.scss */
  to {
    -webkit-transform: scale(1.06);
    transform: scale(1.06); } }

/* line 6, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 16, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch; }
  @media screen and (max-width: 650px) {
    body, html {
      overflow: auto; } }

/* line 29, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
body {
  background-color: white;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  font-size: 14px; }

/* line 38, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.grid {
  clear: both;
  margin: 0 auto;
  max-width: 1200px; }
  /* line 9, /Users/peter/Repos/gulp-template/src/sass/shared/_mixins.scss */
  .grid:after {
    content: "";
    display: table;
    clear: both; }

/* line 44, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.padded {
  padding: 20px; }

/* line 48, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-left: 20px; }

/* line 54, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-1-1 {
  width: 100%; }

/* line 55, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-2-3 {
  width: 66.66%; }

/* line 56, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-1-3 {
  width: 33.33%; }

/* line 57, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-1-2 {
  width: 50%; }

/* line 58, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-1-4 {
  width: 25%; }

/* line 59, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
.col-1-8 {
  width: 12.5%; }

@media screen and (max-width: 500px) {
  /* line 62, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  [class*='col-'] {
    width: 100%;
    float: none; }
  /* line 71, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-2-3, .mobile-col-1-3, .mobile-col-1-2, .mobile-col-1-4, .mobile-col-1-8 {
    float: left; }
  /* line 75, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-2-3 {
    width: 66.66%; }
  /* line 76, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-1-3 {
    width: 33.33%; }
  /* line 77, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-1-2 {
    width: 50%; }
  /* line 78, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-1-4 {
    width: 25%; }
  /* line 79, /Users/peter/Repos/gulp-template/src/sass/shared/_layout.scss */
  .mobile-col-1-8 {
    width: 12.5%; } }

/* line 5, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 18px 0; }

/* line 10, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.tera {
  font-size: 86px; }

/* line 11, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.giga {
  font-size: 60px; }

/* line 12, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.mega {
  font-size: 48px; }

/* line 13, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.alpha {
  font-size: 36px; }

/* line 14, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.beta {
  font-size: 24px; }

/* line 15, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.gamma {
  font-size: 22px; }

/* line 16, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.delta {
  font-size: 16px; }

/* line 17, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.epsilon {
  font-size: 14px; }

/* line 18, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
.zeta {
  font-size: 12px; }

/* line 21, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400; }

/* line 25, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h1, h2, h3, .h1, .h2, .h3 {
  line-height: 1.3; }

/* line 29, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h1, .h1 {
  font-size: 48px; }

/* line 33, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h2, .h2 {
  font-size: 36px; }

/* line 37, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h3, .h3 {
  font-size: 24px; }

/* line 41, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h4, .h4 {
  font-size: 22px; }

/* line 45, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h5, .h5 {
  font-size: 14px; }

/* line 49, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
h6, .h6 {
  font-size: 12px; }

/* line 53, /Users/peter/Repos/gulp-template/src/sass/shared/_typography.scss */
strong {
  font-weight: 700; }

/* line 5, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
::-moz-selection {
  background: rgba(0, 0, 0, 0.3); }
::selection {
  background: rgba(0, 0, 0, 0.3); }

/* line 10, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
a {
  color: #263238;
  text-decoration: none; }
  /* line 14, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  a:hover, a.hover {
    cursor: pointer;
    color: #3b4d56; }
  /* line 19, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  a:active, a.active {
    color: #11171a; }
  /* line 23, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  a.visited {
    color: #07090a; }

/* line 29, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
.btn, button {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none; }
  /* line 36, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  .btn:focus, button:focus {
    outline: none; }

/* line 42, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
input, textarea {
  padding: 10px;
  display: block;
  -webkit-appearance: none;
  border-radius: 0; }
  /* line 48, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  input:focus, textarea:focus {
    outline: none; }

/* line 54, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
img {
  max-width: 100%; }

/* line 59, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
ol {
  padding-left: 1.4em; }
  /* line 62, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  ol ol, ol ol ol {
    margin-bottom: 0; }

/* line 67, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
ul {
  padding: 0;
  list-style: none; }
  /* line 71, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
  ul ul, ul ul ul {
    margin-bottom: 0; }

/* line 76, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
dt {
  font-weight: bold; }

/* line 80, /Users/peter/Repos/gulp-template/src/sass/shared/_elements.scss */
dd {
  margin-left: 1.4em; }
